$primary_orange: rgb(255, 149, 0);      // careers page
$primary_red: rgb(239, 94, 111);        // General engineering page
$primary_pink: rgb(216, 27, 96);        // What next page
$primary_purple: rgb(221, 104, 244);    // Right Fit page
$primary_dark_purple: rgb(88, 86, 214); // student creations page
$primary_dark_blue: rgb(70, 136, 241);  // Co-op page
$primary_blue: rgb(40, 203, 252);       // Our education page
$primary_green: rgb(2,184,117);         // Program history page


