$primary_orange: rgb(180, 120, 70);     // careers page
$primary_red: rgb(239, 94, 111);        // Right fit
$primary_yellow: rgb(255, 211, 62);     // What next page
$primary_purple: #D445AF;               // General engineering
$primary_dark_purple: rgb(88, 86, 214); // student creations page
$primary_dark_blue: rgb(24, 96, 168);   // Co-op page
$primary_blue: #0490E7;                 // Our education page
$primary_green: rgb(2,184,117);         // Program history page

$color_header: #181728;
$color_header_light: #41354D;