// Overrides
@import './mixins/colors';
$primary-color: $primary_green;

@import './mixins/blog';

.parallax {
  background: url("../assets/bg_history.jpeg") no-repeat center;
  background-size: 100%;
}