<div id="page-container" >
  <nav class="navbar navbar-custom">
    <a class="navbar-link-custom" href="#">What is <b>SYSTEMS DESIGN</b></a>
    <ul class="nav">
      <li class="baritem"><a class="navbar-link-custom" href="#">HOME</a></li>
      <li class="baritem">
        <div class="dropdown">
          <div class="navbar-link-custom" (click)="toggleDropdownLearn()" (clickOutside)="hideDropdownLearn()">LEARN</div>
          <div class="dropdown-content" [class.show]="showDropdownLearn">
            <ul class="dropdown-list">
              <li><a href="#/our-education">Our education</a></li>
              <li><a href="#/general-engineering">Specialization</a></li>
              <li><a href="#/right-fit">The right fit</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="baritem"><a class="navbar-link-custom" href="#">ABOUT</a></li>
    </ul>
  </nav>
  <router-outlet ></router-outlet>
  <!-- This is obviously the website footer here -->
  <footer class="fdb-block footer-small">
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <p>2017: A student project, for students.</p>
        </div>
      </div>
    </div>
  </footer>
</div>
