<nav class="navbar navbar-custom fixed-top">
  <a class="navbar-brand navbar-link-custom" href="#">{{title}}</a>
  <div style="alignment: right">
    <a class="navbar-link navbar-link-custom" href="#">HOME</a>
    <div class="dropdown">
      <a class="navbar-link navbar-link-custom"
         href="#/our-education">LEARN</a>
      <div class="dropdown-content">
        <a href="#/our-education">Our education</a>
        <a href="#/general-engineering">Specialization</a>
      </div>
    </div>
    <a class="navbar-link navbar-link-custom" href="#">CONNECT</a>
    <a class="navbar-link navbar-link-custom" href="#">ABOUT</a>
  </div>
</nav>
<nav style="margin-top: 56px">
  <router-outlet ></router-outlet>
</nav>
