@import '../styles/fonts';

/* The navbar background that spans the entire screen */
.navbar-custom {
  background-color: darkslategrey;
  border-radius: 0;
  padding: 0;
}

/* Horizontal navigation list of elements */
.nav {
  margin: 0;
  padding: 0;
}

/* Navigation bar list items  */
li .baritem {
  display: inline;
  float: right;
}

/* Dropdown Button */
.navbar-link-custom {
  color: white;
  font-family:  $content-font;
  padding: 16px;
  font-size: 16px;
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: darkslategrey;
}

.navbar-link-custom:hover,
.navbar-link-custom:focus {
  background-color: darkgrey;
  transition: background-color .15s ease-in, border-top .15s ease-in, padding-top .15s ease-in;
  border-top: white 5px solid;
  cursor: pointer;
  padding-top: 11px;
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

  div {
    color: white;
  }
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: block;
}

div .show {
  display:block;
}

ul .dropdown-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  z-index: 1;

  a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  a:hover {
    font-weight: 500;
  }
}

footer {
  padding: 30px 0 !important;

  &.footer-large {
    padding: 30px 0 !important
  }

  .flex-column {
    .nav-link {
      padding-left: 0;
    }
  }

  &.bg-dark {
    background: #2d313c;
    color: grey;

    a {
      color: grey;
    }
  }

  p {
    font-family: $content-font;
  }
}
