<base href="/">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="favicon.ico" />
<link rel="stylesheet" href="libs/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=PT+Sans:700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i" rel="stylesheet">
<link rel="stylesheet" href="css/header.css">