<script src="libs/jquery-3.2.1.min.js"></script>
<script src="libs/popper.min.js"></script>
<script src="libs/bootstrap.min.js"></script>
<script src="js/header.js"></script>

<script type="text/javascript">
  window.doorbellOptions = {
      id: '7671',
      appKey: 'zypzNy6moFdMCHICR0ELYgpELaajxW3q6tXc7x4sBlQRuITsseEFzdJgcZUCL5SN'
  };
  (function(w, d, t) {
      var hasLoaded = false;
      function l() { if (hasLoaded) { return; } hasLoaded = true; window.doorbellOptions.windowLoaded = true; var g = d.createElement(t);g.id = 'doorbellScript';g.type = 'text/javascript';g.async = true;g.src = 'https://embed.doorbell.io/button/'+window.doorbellOptions['id']+'?t='+(new Date().getTime());(d.getElementsByTagName('head')[0]||d.getElementsByTagName('body')[0]).appendChild(g); }
      if (w.attachEvent) { w.attachEvent('onload', l); } else if (w.addEventListener) { w.addEventListener('load', l, false); } else { l(); }
      if (d.readyState == 'complete') { l(); }
  }(window, document, 'script'));
</script>

