<!-- Page header -->
<nav class="navbar navbar-custom">
  <a class="navbar-link-custom" href="/">What is
    <b>SYSTEMS DESIGN ENGINEERING</b>
  </a>
  <ul class="nav">
    <li class="baritem">
      <a class="navbar-link-custom" href="/">HOME</a>
    </li>
    <li class="baritem">
      <div id="dropdown" class="dropdown">
        <div id="dropdown-button" class="navbar-link-custom">LEARN</div>
        <div id="dropdown-links" class="dropdown-content">
          <ul class="dropdown-list">
            <li class="content-box">
              <a href="/education">What do we learn?</a>
              <a href="/general-engineering">Is this general engineering?</a>
              <a href="/history">Is this a new program?</a>
              <a href="/right-fit">Is this the right fit for me?</a>
              <a href="/co-op">What is co-op like?</a>
              <a href="/careers">Where can I work?</a>
              <a href="/projects">Student creations?</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="baritem">
      <a class="navbar-link-custom" href="/about">ABOUT</a>
    </li>
  </ul>
</nav>