<!-- Page header -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/">What is <b>SYSTEMS DESIGN?</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav ml-auto w-100 justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="/">HOME</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#!" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">LEARN</a>
        <div class="dropdown-menu dropdown-menu-right navbar-dark" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/education">What do we learn?</a>
          <a class="dropdown-item" href="/general-engineering">Is this general engineering?</a>
          <a class="dropdown-item" href="/history">Is this a new program?</a>
          <a class="dropdown-item" href="/right-fit">Is this the right fit for me?</a>
          <a class="dropdown-item" href="/co-op">What is co-op like?</a>
          <a class="dropdown-item" href="/careers">Where can I work?</a>
          <a class="dropdown-item" href="/projects">Student creations?</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">ABOUT</a>
      </li>
    </ul>
  </div>
</nav>