  <!-- This is the website footer -->
  <footer class="fdb-block footer-small page-footer">
    <section>
      <ul class="list-inline" style="margin: 0">
        <li class="list-inline-item">
          <p>Made by students, for prospective students.</p>
        </li>
        <li class="list-inline-item">
          <a href="/about">Thanks.</a>
        </li>
        <li class="list-inline-item">
          <a href="mailto:whatissystems@gmail.com">Contact Us.</a>
        </li>
      </ul>
    </section>
  </footer>