// Overrides
@import '../../styles/colors';
$primary-color: $primary_dark_blue;

@import '../../styles/blog';

table {
  width: 100%;
  border: black solid 1px;

  .table-header {
    border-bottom: 2px black solid;
  }

  tr:nth-child(3n+1) {
    border-bottom: 1px gray solid;
  }
}
