<div class="section-title">
  <h1 class="h1-title">co-op</h1>
  <h2 class="h2-title">Show me the money</h2>
</div>
<!-- Intro -->
<div class="section-wrapper shaded">
  <section>
    <p>Waterloo’s co-op program is absolutely fantastic. Why? You get experience in the fields that you are interested
      in, not only to gain contacts for your future career, but also to discover what you like (and don’t like) to do.
      Your six co-op positions are paid, and will also help you fund an education that grows more costly every year.</p>
  </section>
</div>
<div class="section-wrapper">
  <section>
    <h1 class="h1-section">the co-op process</h1>
    <h3 class="h3-section">What is 4-stream?</h3>
    <p>Waterloo has different academic/co-op term patterns, with SYDE being solely 4-Stream. This mean students start
      their first work term after 4-months of school. This means getting job experience sooner, and ending your degree
      off with 2 consecutive academic terms.</p>
    <blockquote class="future"><b>For future students:</b> While the idea of working so soon may be scary, it does have
      some advantages. You will have less competition for jobs in the winter, and will start earning money sooner than
      your peers in 8-stream!</blockquote>
    <img class="image" src="/assets/coop-streams.png">
    <footer class="media-footer">The difference between 4 and 8 Stream Co-op Sequences.</footer>
  </section>
  <section>
    <h3 class="h3-section">What are applications like?</h3>
    <p>When you first start 1A, you will have a few weeks to prepare your resume (start in the summer, and get upper
      years to review it). Then, you will have a week long job application period, where you can browse the job postings
      on Waterloo Works and submit your application. The number of job postings number in the thousands, but don’t be
      too picky at first because a job is not guaranteed.</p>
    <p>After applications, employers will slowly send out interview bookings, during which time you can choose an
      interview timeslot. Most interviews are held in person, on campus, which is very convenient for students.
      After interviews, both students and employers will submit job rankings, and then students are matched (hopefully)
      with their jobs for the next term. If you don’t get matched, you have the opportunity to keep applying so don’t
      ever lose hope.</p>
  </section>
</div>
<div class="section-wrapper shaded">
  <section>
    <h1 class="h1-section">finances</h1>
    <h3 class="h3-section">How much do students earn?</h3>
    <p>Your first stop for checking average earnings should be the
      <a href="https://uwaterloo.ca/co-operative-education/why-co-op/co-op-earnings/hourly-earnings-information-january-december-2016">
        official CECA webpage</a>. Since employers are subsidized by the government, wages are quite reasonable.
      Be warned though, wages on the CECA page are skewed downward as they exclude most USA-based jobs which tend to
      have higher pay and include food/housing. A fair number of employers base their wages on this data, so it is
      still a good representation. For information specific to SYDE, see the following data pulled from the Class of
      2017 survey, but keep in mind changes in inflation in the years since date of publish.</p>
    <img class="image" src="/assets/profile_salary_8.png">
  </section>
  <section>
    <h3 class="h3-section">Can I pay for my education?</h3>
    <p>While there is no guarantee that co-op can pay for your entire education, it certainly can take a load off of
      students who would have had to take out large loans to pay for their education. Of the Class of 2017, almost
      half the class graduated with no student debt, and the mean amount of debt was less that $10,000. With the cost
      of tuition and living expenses for one term being just over $10,000, this paints a bright picture for future
      SYDE students. (See pg 73–74 of 2017ClassProfile).</p>
  </section>
</div>
