$primary_orange: rgb(180, 120, 70);      // General Eng
$primary_red: rgb(201, 20, 0);           // Career page
$primary_yellow: rgb(255, 211, 62);      // Next Steps page
$primary_dark_purple: rgb(99, 80, 198);  // History page
$primary_dark_blue: rgb(24, 96, 168);    // Co-op page
$primary_blue: rgb(4, 144, 231);         // Our education page
$primary_green: rgb(2,184,117);          // student creations page
$primary_light_blue: rgb(126, 139, 192); // The Right Fit page

$color_header: #181728;
$color_header_light: #41354D;