@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}

@mixin section-wrapper-padding-size($s-map) {
  @each $s-breakpoint, $s-padding-size in $s-map {
    @if $s-breakpoint == null {
      padding-top: $s-padding-size;
      padding-bottom: $s-padding-size;
    }
    @else {
      @media screen and (min-width: $s-breakpoint) {
        padding-top: $s-padding-size;
        padding-bottom: $s-padding-size;
      }
    }
  }
}
