<div class="section-title">
  <h1 class="h1-title">our education</h1>
  <h2 class="h2-title">Let's talk about what we learn</h2>
</div>
<!-- HEADER -->
<div class="section-wrapper shaded">
  <div class="section">
    <p>As a discipline, Systems Design Engineering (or SYDE for short) uses systems thinking and math to analyse and
      model the world, and design thinking to create solutions for users that move us towards a better future. The
      engineering problems that we tackle are commonly interdisciplinary, and require strong decision making and
      leadership skills.</p>
    <p>We may pride ourselves on thinking differently, but we still are very much rooted in the physical world. SYDE is
      an accredited engineering program, and its graduates are eligible for the
      <a href="http://www.peo.on.ca/index.php?ci_id=1847&la_id=1">Professional Engineering designation through PEO</a>.
      This means that we learn a lot of theory in math and physics, as well as applications in hardware and software.
      The first two years are primarily about accumulating knowledge about the real world through physics, and
      acquiring the hard analytic and math skills. This skill toolbox allows us to solve real, hands-on problems
      using systems theory.</p>
    <p>Design is a complementary skill set that takes the form of proven processes for planning, creating, and
      executing designed solutions to problems. It is the perfect complement to engineering, and one that is rarely
      taught outright to engineers. Knowing human-centered design processes allows an engineer to think not just
      about the technical solution they are facilitating, but about all users and stakeholders who will interact
      with the solution, along with their individual requirements.</p>
    <p>The skills that we learn in SYDE are inherently interdisciplinary, as they can be applied to almost any
      problem in a wide variety of fields. The program also has the flexibility to take many technical electives,
      so that students can specialize in their desired field of interest. The core courses that all SYDE students
      take are listed below, broken down by area of focus.</p>
  </div>
  <div class="section">
    <blockquote class="future"><b>For future students:</b> Click through the table of core courses to explore the
      subjects that you would be learning in SYDE. Consider if you enjoy the general topics enough to study them
      for the next 5 years, we want you to be happy with your choice of degree! We recruited students to write the
      descriptions, so as to cut through all the formal language the school uses.</blockquote>
    <img class="image" src="/assets/syde_courses_flowchart.png">
    <footer class="media-footer">While not clickable, this flow chart illustrates the planner interactive graphic
      to easily explore the courses taken over the 8 academic terms that comprise SYDE.</footer>
  </div>
</div>
<!-- DESIGN -->
<div class="section-wrapper">
  <div class="section">
    <h1 class="h1-section">design</h1>
    <h2 class="h2-section">I heard that it's human-centered?</h2>
    <blockquote class="paragraph blockquote quote">
      <p>Design thinking is a human-centered approach to innovation that draws from the designer’s toolkit to
        integrate the needs of people, the possibilities of technology, and the requirements for business success.</p>
      <footer class="blockquote-footer"> Tim Brown, President and CEO of IDEO</footer>
    </blockquote>
    <p>What sets Systems apart from your typical engineering program is our emphasis on designing for everything,
      and everyone. Design is so much more than making things aesthetically pleasing. Design is a methodology to
      find and solve problems. Not only do we study and create software, but learn how to do so for people. We
      don’t stop at building bridges, but understand who will be using them and what their needs are. In short,
      the design process is a holistic and effective approach to solving technical issues while addressing
      human-centered ones that inevitably accompany them.</p>
    <iframe class="media" width="640" height="360" src="https://www.youtube.com/embed/musmgKEPY2o" frameborder="0"
            allowfullscreen></iframe>
  </div>
</div>
<div class="section-wrapper shaded">
  <div class="section">
    <h3 class="h3-section">The design toolbox</h3>
    <blockquote class="paragraph blockquote quote">
      <p>Design is really an act of communication, which means having a deep understanding of the person with whom the
        designer is communicating.</p>
      <footer class="blockquote-footer"> Tim Brown, President and CEO of IDEO</footer>
    </blockquote>
    <p>Our design courses cover a variety of tools that can be applied to any engineering problem. Our first design
      course (SYDE 161) demonstrates tools such as personas which are fictional characters used to help us solve
      problems from the perspective of a real user. We also learn how to use project management tools such as a
      Quality-Function-Deployment (QFD) chart which helps manage the project requirements and how the solution meets
      those requirements for each user and in comparison to competitors. SYDE 162 (Human Factors in Design) teaches
      us to consider the physical and mental limitations of humans while designing, so that we can increase usability
      and decrease errors. For example we use sets of principles, such as Norman’s Principles of Good Design, to guide
      evaluations of existing and future designs. Of great importance are also longer term design methods such as
      Google Ventures’ Sprint process, which allows a team to ideate and learn from users within
      the time span of a week.</p>
  </div>
</div>
<div class="section-wrapper">
  <div class="section">
    <h3 class="h3-section">Applying design thinking</h3>
    <iframe class="media" width="640" height="360" src="https://www.youtube.com/embed/wOrmr5kT-48" frameborder="0"
            allowfullscreen></iframe>
    <p>TODO: Examples of design thinking<br>
       TODO: Resources to learn more
    </p>
  </div>
</div>
<!-- SYSTEMS -->
<div class="section-wrapper shaded">
  <div class="section">
    <h1 class="h1-section">systems</h1>
    <h2 class="h2-section">How we see the world? Like systems glasses?</h2>
    <p>If you were to ask each Systems Design professor to describe what Systems is, you would eventually hear the
      parable of the The Blind Men and the Elephant. The moral of the parable is that a system is greater than just
      the sum of its parts, and that you cannot know how a system will behave just by knowing the parts which make
      up the system. This is why you will hear the quote <b>“Systems is how we see the world”</b>, because systems
      is a way of thinking about the physical world which we interact with as engineers.</p>
    <iframe class="media" width="640" height="360" src="https://www.youtube.com/embed/rDxOyJxgJeA" frameborder="0"
            allowfullscreen></iframe>
    <footer class="media-footer">After hearing the parable of The Blind Men and the Elephant, see an example of systems
      thinking applied to a system familiar to everyone (5 min)</footer>
  </div>
</div>
<div class="section-wrapper">
  <div class="section">
    <h3 class="h3-section">Systems thinking</h3>
    <p>Systems thinking tends to deal with complex problems, because the systems are interconnected sets of things — 
      like people, cells, or ecosystems — that produce changing behaviours over time due to their interactions. In
      fact, the entire world is one giant system, and we only focus on smaller sub-systems when looking at engineering
      problems. Our brains have a hard time wrapping themselves around systems, because we are built to interpret
      outside events as the causes of the change we see around us. The fact that systems cause their own behaviour
      because of their interconnectedness tends to break our mental models, and thus it takes a different way of
      thinking in order to rationally handle these large-scale problems.</p>
    <p>Consider the following statement that a biomedical engineer may work with: “The flu virus does not attack you;
      you set up the conditions for it flourish within you.” If you find this statement counter-intuitive, you are not
      alone. We rationalize complex situations through our own experiences, and by following the patterns of cause and
      effect. By viewing problems through the lense of systems thinking, one can redesign a system to
      create lasting changes.</p>
  </div>
</div>
<div class="section-wrapper shaded">
  <div class="section">
    <h3 class="h3-section">Modelling the world</h3>
    <p>As engineers, we apply our systems thinking to creating models of physical systems in order to understand
      engineering problems. This is why we take so many physics and math courses, so that we can apply our skills
      to modelling dynamic systems. Such problems may be as simple as a bathtub without a plug, being filled up at
      the same time that it is draining. Now throw in some salt and figure out the concentration of the water flowing
      from the bathtub and into the pipes. This easily translates to larger complex problems involving many moving
      parts, stresses, and applied forces.</p>
  </div>
</div>
<div class="section-wrapper">
  <div class="section">
    <h3 class="h3-section">Knowledge integration</h3>
    <p>While our systems modelling courses focus on the physical world, the skill of systems thinking can be easily
      translated to problems that touch both technology and the human environment. By attaching on the skill of
      design, one easily considers the underlying sociological, economic, political, and environmental systems
      that affect the problem space. This broad understanding of the world is where a Systems Design Engineer
      can really shine.</p>
  </div>
</div>
