<div class="section-title">
  <h1 class="h1-title">{{title}}</h1>
</div>
<!-- HEADER -->
<div class="section-wrapper shaded">
  <section>
    <p>Systems Design Engineering (or SYDE for short) as a discipline teaches systems and design thinking. Systems
      thinking and math are used to solve complex physical problems. Design thinking is used create human-centered
      solutions. We tackle interdisciplinary engineering problems that require strong decision making and collaboration
      skills.</p>
    <p>SYDE is an accredited engineering program, meaning its graduates are eligible for the
      <a href="http://www.peo.on.ca/index.php?ci_id=1847&la_id=1">Professional Engineering designation through PEO</a>.
      As such we learn a lot of theory in math and physics, as well as applications in hardware and software. The first
      two years are about understanding the physical world, and acquiring analytic and math skills. This toolbox of
      skills allows us to solve real, hands-on problems involving large systems.</p>
    <p>Design is a complementary skill set  of processes for planning and executing solutions to problems. The perfect
      complement to engineering, design is rarely taught outright to engineers. Human-centered design processes allow
      an engineer to think beyond the technical aspects of a problem. Design ensures that an engineer's solution
      "fits human desires, needs, and capabilities. After all, why do we make products? We make them for people to use."
      We practice our design skills every term through project courses.</p>
    <p>The skills that we learn in SYDE can be applied to any problem in any field. Our core courses teach us a diverse
      mix of applied and technical skills, broken down by field below. Students also have access to a wide array of
      technical electives, and can <a href="/#/general-engineering">specialize</a> in nearly any other field of
      engineering.</p>
  </section>
  <section>
    <blockquote class="future"><b>For future students:</b> Click through the table of core courses to explore the
      subjects that you would be learning in SYDE. Consider if you enjoy the general topics enough to study them
      for the next 5 years, we want you to be happy with your choice of degree! We recruited students to write the
      descriptions, so as to cut through all the formal language the school uses.</blockquote>
    <img class="image" src="/assets/syde_courses_flowchart.png">
    <footer class="media-footer">While not clickable, this flow chart illustrates the planner interactive graphic
      to easily explore the courses taken over the 8 academic terms that comprise SYDE.</footer>
  </section>
</div>
<!-- DESIGN -->
<div class="section-wrapper">
  <section>
    <h1 class="h1-section">Design</h1>
    <blockquote class="paragraph blockquote quote">
      <p>Design thinking is a human-centered approach to innovation that draws from the designer’s toolkit to
        integrate the needs of people, the possibilities of technology, and the requirements for business success.</p>
      <footer class="blockquote-footer"> Tim Brown, President and CEO of IDEO</footer>
    </blockquote>
    <p>What sets Systems apart from your typical engineering program is our emphasis on designing for everything, and
      everyone. Design is so much more than making things aesthetically pleasing. Design is a methodology to find and
      solve problems. Not only do we study and create software, but learn how to do so for people. We don't stop at
      building bridges, but understand who will be using them and what their needs are. In short, the design process
      is a holistic and effective approach to solving technical issues while addressing human-centered ones that
      inevitably accompany them.</p>
    <div class="video-container">
      <iframe class="video" src="https://www.youtube.com/embed/musmgKEPY2o" frameborder="0"
              allowfullscreen></iframe>
    </div>
  </section>
</div>
<div class="section-wrapper shaded">
  <section>
    <h3 class="h3-section">The design toolbox</h3>
    <blockquote class="paragraph blockquote quote">
      <p>Design is really an act of communication, which means having a deep understanding of the person with whom the
        designer is communicating.</p>
      <footer class="blockquote-footer"> Tim Brown, President and CEO of IDEO</footer>
    </blockquote>
    <p>While many of our design courses are project-focused, there is a great set of tools that we learn to apply.</p>
    <ul>
      <li><b>Human Centered Design: </b>Used to understand the perspectives of real users, and turn an idea into a prototype</li>
      <li><b>Project Management: </b>Take into consideration schedules, stakeholders, and budgets.</li>
      <li><b>Human Factors Engineering: </b>Human Factors Engineering: Consider the mental and physical abilities and limitations of users.</li>
      <li><b>Impact on Society: </b>Engineered solutions exist within and impact many facets of society.</li>
      <li><b>Design Methods: </b>Apply industry methods such as Google Ventures' Design Sprint process</li>
    </ul>
  </section>
</div>
<div class="section-wrapper">
  <section>
    <h3 class="h3-section">Applying design thinking</h3>
    <div class="video-container">
      <iframe class="video" src="https://www.youtube.com/embed/wOrmr5kT-48" frameborder="0"
              allowfullscreen></iframe>
    </div>
  </section>
</div>
<!-- SYSTEMS -->
<div class="section-wrapper shaded">
  <section>
    <h1 class="h1-section">Systems</h1>
    <p>If you were to ask each Systems Design professor to describe what Systems is, you would eventually hear the
      parable of the The Blind Men and the Elephant. The moral of the parable is that a system is greater than just
      the sum of its parts, and that you cannot know how a system will behave just by knowing the parts which make
      up the system. This is why you will hear the quote <b>“Systems is how we see the world”</b>, because systems
      is a way of thinking about the physical world which we interact with as engineers.</p>
    <div class="video-container">
      <iframe class="video" src="https://www.youtube.com/embed/rDxOyJxgJeA" frameborder="0"
              allowfullscreen></iframe>
    </div>
    <footer class="media-footer">After hearing the parable of The Blind Men and the Elephant, see an example of systems
      thinking applied to a system familiar to everyone (5 min)</footer>
  </section>
</div>
<div class="section-wrapper">
  <section>
    <h3 class="h3-section">Systems thinking</h3>
    <p>Systems thinking tends to deal with complex problems, because the systems are interconnected sets of things — 
      like people, cells, or ecosystems — that produce changing behaviours over time due to their interactions. In
      fact, the entire world is one giant system, and we only focus on smaller sub-systems when looking at engineering
      problems. Our brains have a hard time wrapping themselves around systems, because we are built to interpret
      outside events as the causes of the change we see around us. The fact that systems cause their own behaviour
      because of their interconnectedness tends to break our mental models, and thus it takes a different way of
      thinking in order to rationally handle these large-scale problems.</p>
    <p>Consider the following statement that a biomedical engineer may work with: “The flu virus does not attack you;
      you set up the conditions for it flourish within you.” If you find this statement counter-intuitive, you are not
      alone. We rationalize complex situations through our own experiences, and by following the patterns of cause and
      effect. By viewing problems through the lense of systems thinking, one can redesign a system to
      create lasting changes.</p>
  </section>
</div>
<div class="section-wrapper shaded">
  <section>
    <h3 class="h3-section">Modelling the world</h3>
    <p>As engineers, we apply our systems thinking to creating models of physical systems in order to understand
      engineering problems. This is why we take so many physics and math courses, so that we can apply our skills
      to modelling dynamic systems. Such problems may be as simple as a bathtub without a plug, being filled up at
      the same time that it is draining. Now throw in some salt and figure out the concentration of the water flowing
      from the bathtub and into the pipes. This easily translates to larger complex problems involving many moving
      parts, stresses, and applied forces.</p>
  </section>
</div>
<div class="section-wrapper">
  <section>
    <h3 class="h3-section">Knowledge integration</h3>
    <p>While our systems modelling courses focus on the physical world, the skill of systems thinking can be easily
      translated to problems that touch both technology and the human environment. By attaching on the skill of
      design, one easily considers the underlying sociological, economic, political, and environmental systems
      that affect the problem space. This broad understanding of the world is where a Systems Design Engineer
      can really shine.</p>
  </section>
</div>
