// Overrides
@import '../../styles/colors';
$primary-color: $primary_blue;

@import '../../styles/blog';

li {
  font-family: $content-font;
  @include font-size($content-font-sizes);
  opacity: $opacity-font;
}
