<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alegreya:400,700" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-custom fixed-top">
  <a class="navbar-brand" href="#">{{title}}</a>
</nav>
<div class="container-title">
  <h1 class="h1-title">our education</h1>
  <h2 class="h2-title">Let's talk about what we learn</h2>
</div>
<div>
  <div class="container-fluid container-content">
    <div class="content" style="margin-top: 50px">
    As a discipline, Systems Design Engineering (or SYDE for short) uses systems thinking and math to analyse and model the world, and design thinking to create solutions for users that move us towards a better future. The engineering problems that we tackle are commonly interdisciplinary, and require strong decision making and leadership skills.
    </div>
    <div class="content">
      We may pride ourselves on thinking differently, but we still are very much rooted in the physical world. SYDE is an accredited engineering program, and its graduates are eligible for the Professional Engineering designation through PEO. This means that we learn a lot of theory in math and physics, as well as applications in hardware and software.The first two years are primarily about accumulating knowledge about the real world through physics, and acquiring the hard analytic and math skills. This skill toolbox allows us to solve real, hands-on problems using systems theory.
    </div>
  </div>
  <div class="container-fluid container-content">
    <div>
      <h1 class="h1-section" [style.color]="color">design</h1>
      <h2 class="h2-section">I heard that it's human-centered?</h2>
      <div class="content">
        What sets Systems apart from your typical engineering program is our emphasis on designing for everything, and everyone. Design is so much more than making things aesthetically pleasing. Design is a methodology to find and solve problems. Not only do we study and create software, but learn how to do so for people. We don’t stop at building bridges, but understand who will be using them and what their needs are. In short, the design process is a holistic and effective approach to solving technical issues while addressing human-centered ones that inevitably accompany them.
      </div>
    </div>
    <div>
      <h1 class="h1-section" [style.color]="color">systems</h1>
      <h2 class="h2-section">How we see the world? Like systems glasses?</h2>
      <div class="content">
        If you were to ask each Systems Design professor to describe what Systems is, you would eventually hear the parable of the The Blind Men and the Elephant. The moral of the parable is that a system is greater than just the sum of its parts, and that you cannot know how a system will behave just by knowing the parts which make up the system. This is why you will hear the quote “Systems is how we see the world”, because systems is a way of thinking about the physical world which we interact with as engineers. </div>
      <div class="content">
        Systems thinking tends to deal with complex problems, because the systems are interconnected sets of things — like people, cells, or ecosystems — that produce changing behaviours over time due to their interactions. In fact, the entire world is one giant system, and we only focus on smaller sub-systems when looking at engineering problems. Our brains have a hard time wrapping themselves around systems, because we are built to interpret outside events as the causes of the change we see around us. The fact that systems cause their own behaviour because of their interconnectedness tends to break our mental models, and thus it takes a different way of thinking in order to rationally handle these large-scale problems.
      </div>
    </div>
  </div>
</div>
</body>
</html>
