.navbar-custom {
  background-image: none;
  background-color: lightgrey;
  border-radius: 0;
}

.container-title {
  padding-top: 70px;
}

.container-content {
  max-width: 700px;
}

.h1-title {
  font-family: 'PT Sans', 'Helvetica Neue', sans-serif;
  font-size: 66px;
  text-align: center;
}

.h2-title {
  font-family: Alegreya, serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.h1-section {
  opacity: 0.7;
  font-family: 'PT Sans', 'Helvetica Neue', sans-serif;
  font-size: 66px;
  margin-top: 50px;
}

.h2-section {
  font-family: Alegreya, serif;
  font-weight: 700;
  font-size: 32px;
  margin-top: -20px;
}

.content {
  font-family: Georgia, serif;
  font-size: 18px;
  opacity: 0.84;
  padding-bottom: 10px;
}
