.h1-section {
  color: rgb(239, 94, 111);
}

a {
  color: rgba(239, 94, 111, 0.84);
}

.future {
  border-radius: 5px;
  border: 1px solid rgba(239, 94, 111, 0.84);
  border-left: 5px solid rgba(239, 94, 111, 0.84);
}

p::selection, .h1-title::selection, h2::selection, h3::selection {
  background: rgba(239, 94, 111, 0.84);
}
p::-moz-selection, .h1-title::-moz-selection, h2::-moz-selection, h3::-moz-selection {
  background: rgba(239, 94, 111, 0.84);
}

a {
  color: rgba(239, 94, 111, 0.84);
}
