<div class="section-title">
  <h1 class="h1-title">the right fit</h1>
  <h2 class="h2-title">Will I belong in SYDE?</h2>
</div>
<!-- HEADER -->
<div class="section-wrapper shaded">
  <section>
    <p>This is really just some introduction, talking about things</p>
  </section>
</div>
<!-- DESIGN -->
<div class="section-wrapper">
  <section>
    <h1 class="h1-section">students</h1>
    <h2 class="h2-section">They seem to have some unique characteristics</h2>
    <p>Similar to the student profiles, TODO needs to be written</p>
  </section>
</div>
<div class="section-wrapper shaded">
  <section>
    <h1 class="h1-section">the community</h1>
    <h2 class="h2-section">Once you're inSYDE, there is no leaving</h2>
    <blockquote class="paragraph blockquote quote">
      <p>SYDE means family, and family means nobody gets left behind or forgotten</p>
      <footer class="blockquote-footer">Lilo (and Stitch)</footer>
    </blockquote>
    <p>There’s no denying it, engineering is tough. But, the wonderful SYDE community certainly makes our time at
      Waterloo worth it. Our professors care about us as a cohort and as individuals, and support us in our
      endeavours. Upper years are a stones throw away, and can be bumped into in the hallways or in our SYDE
      student lounge. There is a connection between cohorts, with shared events and traditions that bring us
      all closer together throughout the years.</p>
    <p>The SYDE community is centred around the approx. 100 students who make up your cohort, many of whom
      you will spend 5 years with. They will be your support system through all 36 core courses that you
      take, and many of your electives. This means that when a tough assignment rolls through, you have
      friends to tackle it with. When you spend so much of your day with one group of people, how could you
      not find friends for life?</p>
  </section>
</div>
<div class="section-wrapper">
  <section>
    <h3 class="h3-section">Social engineering</h3>
    <p>SYDE is known as the most social engineering program here at Waterloo, and we take that role seriously.
      Besides spending so much time together within our cohort, we also have many opportunities to get to know
      our upper years. There are times for professional growth such as resume critiques and coffee chats with
      the soon to be graduates. There are also more social traditions such as All Systems Go (and it’s followup
      All Systems Classy), which are held every term in the residence of an upper year student. You can come
      out to our Coffeehouse. Mid-term you can come out to our Coffeehouse, a great community gathering with
      performances by students and professors! Add into the mix holiday celebrations, spirit weeks, and nights
      out in Uptown Waterloo, and you have a experience you will never forget!</p>
    <p>TODO: Some photos from events would be cute</p>
  </section>
</div>
<div class="section-wrapper shaded">
  <section>
    <h3 class="h3-section">Student spaces</h3>
    <p>Our SYDE home is on the top floor of Engineering 5 (E5), which we share with Biomed. Here we have our
      primary classrooms, as well as all of our student spaces. You will find a student lounge accessible by
      all SYDE and students, as well as a workshop and computer lab for working on design projects.</p>
    <p>TODO: Some photos of the student spaces would be killer</p>
  </section>
</div>
<div class="section-wrapper">
  <section>
    <h3 class="h3-section">Show me the data</h3>
    <p>We can talk all we want about the subjective characteristics of SYDE, but we also have the data to prove it
      (<a href="https://medium.com/@joeyloi/systems-design-engineering-2017-class-profile-8bbe8847e8c7">from the Class of 2017 SYDE profile</a>):</p>
    <section>
      <div id="chart-number-of-friends-in-syde"></div>
      <footer class="media-footer">47% of the class would invite 10 or more people from the class to their birthday party.
        <br>No student reported that they had 0 friends in the class. Yay!</footer>
    </section>
    <section>
      <div id="chart-number-of-five-closest-friends-in-syde"></div>
      <footer class="media-footer">More than half the class said that at least 4 of their 5 closest friends made during
        university were SYDE classmates.</footer>
    </section>
    <section>
      <div id="chart-syde-event-attendance"></div>
      <div class="chart-bottom-title">Number of terms</div>
      <footer class="media-footer">42% of the class went to a SYDE event (ASG, ASC, Coffeehouse) in all 8 academic terms,
        and two thirds of the class went in 6 or more terms</footer>
    </section>
  </section>
</div>
<div class="section-wrapper shaded">
  <section>
    <h3 class="h3-section">Student opinions</h3>
    <p>TODO: Get some actual student input on why they love the program</p>
  </section>
</div>
