// Overrides
@import './mixins/colors';
$primary-color: $primary_orange;

@import './mixins/blog';

.parallax {
  background: $color_header url("../assets/bg_careers.jpg") no-repeat center;
  background-size: 100%;
}