// Overrides
@import './mixins/colors';
$primary-color: $primary_blue;

@import './mixins/blog';

.paragraph-list li {
  font-family: $content-font;
  @include font-size($content-font-sizes);
  opacity: $opacity-font;
}

.parallax {
  background: $color_header url("../assets/e2_fountain.jpg") no-repeat center;
  background-size: 100%;
}