// Overrides
@import './mixins/colors';
$primary-color: $primary_orange;

@import './mixins/blog';

dl {
  margin-bottom: 0px;
}

.parallax {
  background: $color_header url("../assets/linkedin_bridge.jpg") no-repeat 50% 65%;
  background-size: 100%;
}