// Overrides
@import './mixins/colors';
$primary-color: $primary_purple;

@import './mixins/blog';

dl {
  margin-bottom: 0px;
}

.parallax {
  background: $color_header url("../assets/bg_general_engineering.jpeg") no-repeat center;
  background-size: 100%;
}