@import './mixins/fonts';
@import './mixins/colors';

nav {
  background-color: $color_header;
}

.page-footer {
  padding: 0 !important;

  p {
    font-family: "Open Sans", sans-serif;
    font-size: 12px; 
    color: black;
    padding: 0;
    opacity: 1;
  }
  a {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: black;
    padding: 0;
  }
}