// Overrides
@import './mixins/colors';
$primary-color: $primary_dark_purple;

@import './mixins/blog';

.parallax {
  background: $color_header url("../assets/purple_haze.jpg") no-repeat center;
  background-size: 100%;
}