// Overrides
@import './mixins/colors';
$primary-color: $primary_yellow;

@import './mixins/blog';

.parallax {
  background: $color_header url("../assets/hardhats.jpg") no-repeat center;
  background-size: 100%;
}