// Overrides
@import './mixins/colors';
$primary-color: $primary_green;

@import './mixins/blog';

.parallax {
  background: $color_header url("../assets/velocity.jpg") no-repeat 50% 75%;
  background-size: 100%;
}

img {
  width: 100%;
  max-width: 175px;
  height: auto;
  display: block;
  object-fit: contain;
}