// Overrides
@import './mixins/colors';
$primary-color: $primary_light_blue;

@import './mixins/blog';

.parallax {
  background: $color_header url("../assets/syde2021.jpg") no-repeat center;
  background-size: 100%;
}