<div class="section-title">
  <h1 class="h1-title">{{title}}</h1>
</div>
<!-- Intro -->
<div class="section-wrapper shaded">
  <section>
    <p>People have trouble describing SYDE because it does not fit into a stereotype of what engineering work should be.
      But, this does not discredit the work that we do. While Systems Design may appear very broad, it is NOT a general
      engineering program that you might find at other Universities. We learn the specific skills of design and systems
      thinking. One than can apply these skills to their field of interest.</p>
    <p>There is a trade-off that comes with being a SYDE student: deeply specializing in another field may need
      extracurricular work. For example, you will need to put in extra time to practice and learn to be as specialized
      as a mechanical engineer. Thus if you are highly passionate about a single field, consider directly pursuing that
      field. As a SYDE student, you must be proactive to find your niche. But, the knowledge you gain from SYDE will
      give you great freedom within your career.</p>
  </section>
</div>
<div class="section-wrapper">
  <section>
    <h1 class="h1-section">Can I specialize?</h1>
    <p>While you can specialize through co-op terms and side projects, you can also take specialized electives. These
      electives allow you to become an expert at what YOU choose to focus on. There will be a great deal of freedom to
      learn in your field of choice, but it does need some thinking about disciplines beforehand. If you take a variety
      of diverse electives, there is a risk that you will end up as the “jack of all trades but master of none.” Give
      consideration to your elective choices, as they form the skillset that you take to the workforce as a practicing
      engineer.</p>
    <p>If you do not know where your passions lie for your career, that is okay. Many spend their first two years
      exploring different fields through co-op positions. By midway through your degree, you should have an idea of your
      career goals and spend your time honing your skills. While it is okay to explore a variety of fields, be aware
      that it may impact the ease of finding co-op positions. </p>
  </section>
</div>
<div class="section-wrapper shaded">
  <section>
    <h1 class="h1-section">What are my choices?</h1>
    <p>While you can choose technical electives at your discretion, the department and faculty have made
      packages of electives that you can choose from to focus your studies.</p>
    <p><b>Systems Design Technical Elective Packages</b><br>Created by the SYDE department.
      Do not provide any designation on your transcript.<br></p>
    <!-- A double-columned list of options -->
    <div class="row text-left pt-4" style="padding-bottom: 16px;">
      <dl class="col-12 col-md-6">
        <div *ngFor="let option of packages | slice:0:3; let i = index">
          <dt><a href="{{option.link}}">{{option.name}}</a></dt>
          <dd>{{option.description}}</dd>
        </div>
      </dl>
      <dl class="col-12 col-md-6">
        <div *ngFor="let option of packages | slice:3:5; let i = index">
          <dt><a href="{{option.link}}">{{option.name}}</a></dt>
          <dd>{{option.description}}</dd>
        </div>
      </dl>
    </div>
    <p><b>Designated Options</b><br>Provide a designation on your transcript.
      May require overloading your schedule to complete all required courses.<br></p>
    <!-- A double-columned list of options -->
    <div class="row text-left pt-4">
      <dl class="col-12 col-md-6">
        <div *ngFor="let option of options | slice:0:6">
          <dt><a href="{{option.link}}">{{option.name}}</a></dt>
          <dd>{{option.description}}</dd>
        </div>
      </dl>
      <dl class="col-12 col-md-6">
        <div *ngFor="let option of options | slice:6:11">
          <dt><a href="{{option.link}}">{{option.name}}</a></dt>
          <dd>{{option.description}}</dd>
        </div>
      </dl>
    </div>
  </section>
</div>
