<div class="section-title">
  <h1 class="h1-title">{{title}}</h1>
</div>
<!-- Intro -->
<div class="section-wrapper shaded">
  <section>
    <p>Many people have trouble describing SYDE because it does not fit into their preconceived niche of what
      engineering work should be, but that does not discredit the work that we do. While Systems Design may appear
      very broad, it is still not a general engineering program that you might find in the first few years at other
      Universities. We learn the specific skills of design and systems thinking that are applicable to a broad variety
      of fields. This gives you an opportunity to learn about broad engineering topics, but also to deeply learn about
      your area of interest.</p>
    <p>There is a certain trade-off that comes with being a SYDE student: if you are highly passionate about a single
      field, it would be advantageous to pursue that specific field. In short, SYDE is not for everybody, and it is
      perfectly okay to change your mind midway through your degree. If you stay as a SYDE student, you must be
      proactive to find success in your field; You must go beyond your courses in your field of interest to have great
      career success, and your broad knowledge gained from SYDE will provide a great deal of freedom within your
      chosen career.</p>
  </section>
</div>
<div class="section-wrapper">
  <section>
    <h1 class="h1-section">Can I specialize?</h1>
    <p>While you can further your career in a discipline through work outside of school, you can also take relevant
      courses and specialize as part of your SYDE program. These electives allow you to become an expert at what YOU
      choose to focus on. There will be a great deal of freedom in later years to take electives in the field of your
      choosing, but it does require some thinking about disciplines beforehand. If you take a variety of diverse
      electives, there is a risk that you will end up as the commonly referred to “jack of all trades but master of
      none.” Now this is not to say that expert generalists are undervalued as opposed to dedicated specialists,
      but that consideration should be put into your elective choice, as they will form the skillset that you’re
      taking out into the workforce as a practicing engineer.</p>
    <p>If you do not know where your passions lie for your career, that is okay. You will tend to spend the first
      two years exploring different fields and topics through both courses and co-op positions. By midway through
      your degree, you should have an idea of your career goals and spend your remaining electives and co-ops honing
      your skills for your field of interest. If you do not specialize or try to turn your career around in a
      completely different route, you may face roadblocks in finding co-ops. There can be difficulty finding
      employment in non-software and specialized fields, which makes choosing the right electives even more
      important. But, remember these are all just things to consider. It is 100% okay to make a switch if it is
      just not you, as a happy and passionate student, regardless of field, will do better than a lost SYDE student.</p>
  </section>
</div>
<div class="section-wrapper shaded">
  <section>
    <h1 class="h1-section">What are my choices?</h1>
    <p>While you can pick and choose technical electives at your discretion, the department and faculty have made
      packages of electives that you can choose from to focus your studies.</p>
    <p><b>Systems Design Technical Elective Packages</b> — Do not provide any designation on your transcript.<br></p>
    <!-- A double-columned list of options -->
    <div class="row text-left pt-4" style="padding-bottom: 16px;">
      <dl class="col-12 col-md-6">
        <div *ngFor="let option of packages | slice:0:3; let i = index">
          <dt><a href="{{option.link}}">{{option.name}}</a></dt>
          <dd>{{option.description}}</dd>
        </div>
      </dl>
      <dl class="col-12 col-md-6">
        <div *ngFor="let option of packages | slice:3:5; let i = index">
          <dt><a href="{{option.link}}">{{option.name}}</a></dt>
          <dd>{{option.description}}</dd>
        </div>
      </dl>
    </div>
    <p><b>Designated Options</b> — Will show up on your transcript. May require overloading your schedule to
      complete all required courses.<br></p>
    <!-- A double-columned list of options -->
    <div class="row text-left pt-4">
      <dl class="col-12 col-md-6">
        <div *ngFor="let option of options | slice:0:6">
          <dt><a href="{{option.link}}">{{option.name}}</a></dt>
          <dd>{{option.description}}</dd>
        </div>
      </dl>
      <dl class="col-12 col-md-6">
        <div *ngFor="let option of options | slice:6:11">
          <dt><a href="{{option.link}}">{{option.name}}</a></dt>
          <dd>{{option.description}}</dd>
        </div>
      </dl>
    </div>
  </section>
</div>
