.h1-section {
    color: rgb(221, 104, 244);
}

.future {
  border-radius: 5px;
  border: 1px solid rgba(221, 104, 244, 0.84);
  border-left: 5px solid rgba(221, 104, 244, 0.84);
}

.paragraph::selection {
  background: rgba(221, 104, 244, 0.84);
}
.paragraph::-moz-selection {
  background: rgba(221, 104, 244, 0.84);
}
