/* Overridable blog-post coloring */
$primary-color: black !default;
$primary-color-faded: black !default;

/* Fonts */
$super-header-font: 'PT Sans', 'Helvetica Neue', sans-serif;
$content-font: 'Open Sans', sans-serif;


.section {
  max-width: 700px;
  margin: auto;
  padding: 10px;
}

.section-title {
  padding-top: 70px;
}

.section-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}

.shaded {
  background-color: rgb(247, 247, 247);
}

/* Page title and subtitle */
.h1-title {
  font-family: $super-header-font;
  font-size: 66px;
  text-align: center;
  color: black;
  opacity: 0.84;
}

.h2-title {
  font-family: Alegreya, serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin-bottom: 50px;
  opacity: 0.84;
}

/* Colored header for top section heads*/
.h1-section {
  opacity: 0.7;
  font-family: $super-header-font;
  font-size: 66px;
  color: $primary-color;
}

/* Top level sub-header */
.h2-section {
  font-family: Alegreya, serif;
  font-weight: 700;
  font-size: 32px;
  margin-top: -20px;
  margin-bottom: 20px;
  opacity: 0.84;
}

/* Level two headers, more neutral */
.h3-section {
  font-family: $super-header-font;
  font-size: 32px;
  margin-bottom: 20px;
  opacity: 0.84;
}

/* Paragraph styling */
p {
  font-family: $content-font;
  font-size: 18px;
  opacity: 0.84;
  padding-top: 10px;
}

p::selection, .h1-title::selection, h2::selection, h3::selection {
  background: $primary-color-faded;
}
p::-moz-selection, .h1-title::-moz-selection, h2::-moz-selection, h3::-moz-selection {
  background: $primary-color-faded;
}

a {
  color: $primary-color-faded;
}

/* A quote by a person */
.quote {
  font-family: Georgia, serif;
  opacity: 0.84;
  background: url('/assets/quote-left-100.png') top left no-repeat;
  background-size: 40px 40px;
  padding-left: 55px;
}

/* For future students quote box */
.future {
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

  background-color: rgb(251, 251, 251);

  font-family: $content-font;
  font-size: 16px;
  opacity: 0.84;
  padding: 10px 10px 10px 15px;
  border-radius: 5px;
  border: 1px solid $primary-color-faded;
  border-left: 5px solid $primary-color-faded;
}

/* Media and image styling */
.media {
  max-width: 640px;
  alignment: center;
  margin-bottom: 10px;
}

.image {
  width: 100%;
  height: 100%;
}

.media-footer {
  max-width: 640px;
  opacity: 0.7;
  font-size: 14px;
  text-align: center;
}
