.section {
  max-width: 700px;
  margin: auto;
  padding: 10px;
}

.section-title {
  padding-top: 70px;
}

.section-wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
}

.shaded {
  background-color: rgb(247, 247, 247);
}

/* Page title and subtitle */
.h1-title {
  font-family: 'PT Sans', 'Helvetica Neue', sans-serif;
  font-size: 66px;
  text-align: center;
  color: black;
  opacity: 0.84;
}

.h2-title {
  font-family: Alegreya, serif;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  margin-bottom: 50px;
  opacity: 0.84;
}

/* Colored header for top section heads*/
.h1-section {
  opacity: 0.7;
  font-family: 'PT Sans', 'Helvetica Neue', sans-serif;
  font-size: 66px;
}

/* Top level sub-header */
.h2-section {
  font-family: Alegreya, serif;
  font-weight: 700;
  font-size: 32px;
  margin-top: -20px;
  margin-bottom: 20px;
  opacity: 0.84;
}

/* Level two headers, more neutral */
.h3-section {
  font-family: 'PT Sans', 'Helvetica Neue', sans-serif;
  font-size: 32px;
  margin-bottom: 20px;
  opacity: 0.84;
}

/* Paragraph styling */
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  opacity: 0.84;
  padding-top: 10px;
}

/* A quote by a person */
.quote {
  font-family: Georgia, serif;
  opacity: 0.84;
  background: url('/assets/quote-left-100.png') top left no-repeat;
  background-size: 40px 40px;
  padding-left: 55px;
}

/* For future students quote box */
.future {
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

  background-color: rgb(251, 251, 251);

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  opacity: 0.84;
  padding: 10px;
  padding-left: 15px;
}

.media {
  max-width: 640px;
  alignment: center;
  margin-bottom: 10px;
}

.image {
  width: 100%;
  height: 100%;
}

.media-footer {
  max-width: 640px;
  opacity: 0.7;
  font-size: 14px;
  text-align: center;
}
