<div class="parallax">
  <div style="display: block;">
    <h2 class="h2-title">Welcome to</h2>
    <h1 class="h1-title">Systems Design Engineering</h1>
    <h2 class="h2-title">at the University of Waterloo</h2>
  </div>
</div>
<div class="section-wrapper">
  <section>
    <p>Systems Design Engineering is an interdisciplinary program, with a focus on solving big
      problems. Students tackle complex physical systems, with a focus on the human factors involved.</p>
  </section>
  <section>
    <p>Students, alumni, and their employers love Systems Design Engineering. But to an outsider,
      the program is misunderstood and poorly explained. Even our own Dean of Engineering was reportedly quoted
      saying, "I don't know what systems design engineering is". This website exists to mend these issues.</p>
  </section>
  <section>
    <div class="col text-center">
      <div class="h1-section">The Answer to All Your Questions</div>
    </div>
    <div class="row text-left pt-4">
      <div class="col-12 col-md-4">
        <ul>
          <div *ngFor="let content of contents | slice:0:3">
            <div class="content-box">
              <a class="content-box-header" href="{{content.link}}" [style.color]="content.color">{{content.header}}</a>
              <p>{{content.description}}</p>
            </div>
          </div>
        </ul>
      </div>
      <div class="col-12 col-md-4">
        <ul>
          <div *ngFor="let content of contents | slice:3:6">
            <div class="content-box">
              <a class="content-box-header" href="{{content.link}}" [style.color]="content.color">{{content.header}}</a>
              <p>{{content.description}}</p>
            </div>
          </div>
        </ul>
      </div>
      <div class="col-12 col-md-4">
        <ul>
          <div *ngFor="let content of contents | slice:6:8">
            <div class="content-box">
              <a class="content-box-header" href="{{content.link}}" [style.color]="content.color">{{content.header}}</a>
              <p>{{content.description}}</p>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </section>
</div>
