<div class="parallax">
  <h2 class="h2-title" style="padding-top: 70px">Welcome to</h2>
  <h1 class="h1-title">Systems Design Engineering</h1>
  <h2 class="h2-title">at the University of Waterloo</h2>
</div>
<div class="section-wrapper">
  <section>
    <div class="row text-left pt-4">
      <div class="col-12 col-md-6">
        <p class="text-h3">Systems Design Engineering can be difficult to comprehend, so join us on our journey to
          discover: What is Systems Design? Will this program be the right fit for me?
          Where do students apply their skills?</p>
      </div>
      <div class="col-12 col-md-6">
        <p class="text-h3">Note: All content is in beta, and the publication is not affiliated with University of
          Waterloo. All posts are solely the views of their authors.</p>
      </div>
    </div>
  </section>
  <section>
    <div class="col text-center">
      <div class="h1-section">The Answer to All Your Questions</div>
    </div>
    <div class="row text-left pt-4">
      <div class="col-12 col-md-6">
        <ul>
          <div *ngFor="let content of contents | slice:0:4">
            <div class="content-box" [style.background-color]="content.color">
              <a href="{{content.link}}">{{content.header}}</a>
              <p>{{content.description}}</p>
            </div>
          </div>
        </ul>
      </div>
      <div class="col-12 col-md-6">
        <ul>
          <div *ngFor="let content of contents | slice:4:8">
            <div class="content-box" [style.background-color]="content.color">
              <a href="{{content.link}}">{{content.header}}</a>
              <p>{{content.description}}</p>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </section>
</div>
