@import '../styles/colors';
@import '../styles/blog';

.header-background-img {
  width: 100%;
}

.parallax {
  /* Create the parallax scrolling effect */
  background: url("/assets/header-background.jpg") no-repeat fixed center;
  background-size: cover;
}

.image-header {
  height: 300px;
}

.h1-title {
  color: white;
}

.h2-title {
  font-size: 24px;
  color: white;
  margin-bottom: 0;
}

.h1-section {
  font-size: 44px;
  color: black;
}

div {
  .content-box {
    padding: 10px;
    margin: 0 0 30px 0;

    a {
      font-family: $super-header-font;
      font-size: 20px;
      color: black;
    }
  }
}

ul {
  -webkit-padding-start: 0;
  padding-left: 0;
}
